<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288881833088-fc77n2m72hjdtajpbhq8jvv4hc2pstbh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288881833088-fc77n2m72hjdtajpbhq8jvv4hc2pstbh</string>
	<key>API_KEY</key>
	<string>AIzaSyAN80WvFfyNrowfuBzgaHORrLD9MlDmpK4</string>
	<key>GCM_SENDER_ID</key>
	<string>288881833088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IamGoodBad.HueBoo</string>
	<key>PROJECT_ID</key>
	<string>hueboo-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>hueboo-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288881833088:ios:4869b2d9eee0e82982a265</string>
	<key>DATABASE_URL</key>
	<string>https://hueboo-mobile.firebaseio.com</string>
</dict>
</plist>